body{
    margin: 0px;
}
/* containers */
.container-fluid{
    padding: 0%;
    
}
/* backgrounds */
#particles-js{
    /* to make it the height of the viewport */
    height: 100vh;
    padding-top: 0;
    background-color:  #0b0b0d ;
}
.coloured{
    background-color: #fddb3a;
}
.non-coloured{
    background-color: #0b0b0d;
}
/* Headings */
.heading{
    text-align: center;
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    color: #0b0b0d;
    
}
.top-heading, .sub-heading{  
    width: 50%;
    position: absolute;
    top: 50%;
    right: 25%;
    margin: auto;
    color: #f6f4e6;
}
.sub-heading{
    margin-top: 1rem;
    font-family: 'Raleway';
    font-size: 1.5rem;
    font-weight: 10;
    color: #f6f4e6;
    position:absolute;
}
.top-heading::before{
    content: "";
  display: block;
  width: 20%;
  height: 2px;
  background:#fddb3a;
  left: 0;
  top: 50%;
  position: absolute;
}
.top-heading::after{
    content: "";
  display: block;
  width: 20%;
  height: 2px;
  background: #fddb3a;
  right: 0;
  top: 50%;
  position: absolute;
  /* for keeping block elements centered */
  margin: 0 auto;
}
.bottom-heading{   
    font-weight: bold;
    margin-bottom: 2rem;   
}
.resume-heading{
    color: #f6f4e6;
    margin-bottom: 5rem; 
    font-size: 2rem;  
}
/* Navigation Bar */
.navbar{
    padding-bottom: 0;
}
.navbar-nav{
    margin: auto;
    font-size: large;
    font-weight: 400;
}
.nav-item{
    padding: 0 18px; 
    color: #f6f4e6;
    font-weight: 600;
}
.nav-link{
    color: #fddb3a !important;
}
.nav-link:hover{
    color: #f6f4e6 !important;
}
/* Description */
.description{
    width: 50%;
    color: #0b0b0d;
    text-align: center;
    font-family: 'Raleway';
    font-size: 1.5rem;
    font-weight:bold;
    margin: auto;
    letter-spacing: 0.05rem;   
}
/* Sections */
#about, #contact, /*#bottom,*/ #projects{
    padding: 100px;
}
/* Skills */
.skill-column{
    padding: 3% 2%;
    text-align: center;
}
.skill-image{
    width: 40%;
}
/* Resume */
.resume{
    padding: 2% 0;
    text-align: center;
}
.download-btn{
    background-color: #0b0b0d;
}
.download-btn:hover{
    background-color: #0b0b0d;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}
/* Contact */
#contact{
    padding: 5% 0;
}
/* Adjustment according to viewport */
@media (max-width:1100px){
    .top-heading::before, .top-heading::after{
        height: 0;
        width: 0;
    }
    .sub-heading{
        margin-top: 3rem;    
    }
    .description{
        width: 100%;
        font-size: 1rem;
    }
    .bottom-heading, .resume-heading{
        font-size: 2rem;
    }
    
}
/* Footer */
#footer{
    padding: 2%;
    color: #fddb3a;
}
.social{
    width: 10%;
    margin:20px 20px;
}
.socials{
    width: 50%;
    text-align: center;
    margin: auto;
}
.social-link{
    color: #f6f4e6;
}
.social-link:hover{
    color:#fddb3a;
}

/* PORJECTS */

  
img {
    width: 100%; }
#portfolio {
    background-color: #0b0b0d; }
    #portfolio h2 {
      font-family:'Playfair Display', serif;
      color: #f6f4e6;  
      font-size: 4rem; 
      margin: auto;
      padding-bottom: 1.25em; }
.portfolio-projects--desc{
    color: #f6f4e6;
    font-family: 'Raleway';
    font-weight: bold;
    letter-spacing: 0.05rem;
}
@media screen and (min-width: 768px) {
.portfolio-projects {
    margin-top: 0.625em; } } 
.portfolio-projects--title {
    color: #f6f4e6;  
font-family: 'Playfair Display', serif;
margin-top: 0.9375em;} 
@media screen and (min-width: 768px) {
    .portfolio-projects--title {
    margin-top: 20%; } }
@media screen and (min-width: 1200px) {
    .portfolio-projects--title {
    margin-top: 5%; } }
@media screen and (min-width: 768px) {
.portfolio-projects--desc {
    margin-top: 10%;
    margin-bottom: 10%;
      } }
.portfolio-projects--btn {
background: transparent;
color: #f6f4e6;
border: 1px solid #f6f4e6;
border-radius: 5px;
margin-bottom: 1.25em; }
.portfolio-projects--btn:hover {
    background: #fddb3a;
    color: #0b0b0d;
    border: 1px solid #0b0b0d }
.portfolio-projects--image {
margin-bottom: 1.875em;
padding-top: 5%;}
.portfolio-projects--image:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.cover.top {
    padding: 15% 0 10% 0;
    height: 100vh;
    display: flex;
    background-color: #0b0b0d; }
.cover.bottom {
    padding: 10% 0 10% 0; }
    .container-fluid .text-muted {
    margin: 20px 0; }
